

body{
 background-color: lightblue;
 background-size: cover;
}


h1 {
  font-family: Verdana;
  font-size: 38px;
  color: white;
  opacity: 1;
  text-align: center;

}
 
 h2 {
  font-family:Verdana;
  font-size: 10px;
  color: white;
  opacity: 1;
  text-align: center;

}
 
 h3 {
  font-family: Arial;
  font-size: 24px;
  color: white;
  opacity: 1;
  text-align: center;

}

h4 {
  font-family: Arial;
  font-size: 40px;
  color: white;
  opacity: 1;
  text-align: center;

}

p {
  font-family: Verdana;
  font-size: 18px;
  color: white;
  opacity: 1;

  text-align: center;


} 

.theJoysOfLinux {
   background:url("http://i.imgur.com/tpusFHs.png") no-repeat center fixed; 

    margin: 30px;
    padding: 145px;
} 

.theBestDesert{
   background:url("https://www.classicprints.com.au/sites/default/files/dessert_tray.jpg") no-repeat center fixed; 

    margin: 30px;
    padding: 145px;
} 

.myFavoriteManga {
   background:url("https://images-na.ssl-images-amazon.com/images/I/81VAgJoB3BL.jpg") no-repeat center fixed; 

    margin: 30px;
    padding: 145px;
} 
  
.parContent{
	background-color: gray;
	margin: 30px;
    padding: 90px;

}

.title{
 background-color: black;
	margin: 20px;
    padding: 20px;

}
.parParContent{
background-color: black;
	margin: 10px;
    padding: 10px;
}

.text{
font-family: Verdana;
  font-size: 18px;
  color: white;
  opacity: 1;

  text-align: center;
}

